@model IEnumerable<JobOffersApp.Models.Jobs>

@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriesId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecializationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th>Applicants</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            <img src="@Url.Content(item.JobImage)" width="50" height="50"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialization.SpecializationName)
        </td>
        <td>
            @Html.DisplayFor(modeltem => item.ApplicationUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.ActionLink("View Applicants", "ListJobByApplicant", new { id = item.Id })
        </td>
        
    </tr>
}

</table>
